.alert {
  padding: 15px;
  margin: 20px 40px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
